.login-wrap{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-section h4{
    position: relative;
    right: 10px;
    color: #008080;
}
.header-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid black;
}
.login{
    width: 500px;
    height: 70vh;
    box-shadow: 10px 10px 10px 10px lightgrey;

}
.login-btn{
    width: 100%;
    margin-top: 20px;
    height: 45px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #008080;
    border-radius: 3px;

}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control{
    width: 100%;
    border-radius: 3px;
}
.form-design{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.login-footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.login-footer h6 a{
    color: rgb(96, 96, 240);
}