.price{
    width: 80%;
    border-top: 1px solid lightgray;
    margin-bottom: 20px;
}
.price-header h5{
    padding-left: 20px;
    color: #008080;
}
.price-item{
    padding: 10px 20px 0px 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-item p{
    font-weight: bold;
}
.toal-price{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-end;
}
.toal-price P{
    color: #800020;
    font-weight: bold;
}
.price{
    box-shadow: 10px 10px 5px lightgrey;
    border-radius: 3px;
}