
<div class="signup-wrap bg-light">
    <div class="signup">
    <div class="image-section">
        <img src="assets/shoe-8563626_640.jpg" class="header-icon" alt="jjjjjj">
        <h4>Nukes</h4>
    </div>
    <div class="form-section ">
        <form [formGroup]="signupform"  class="form-design" (ngSubmit)="handleSubmit()">                  
            <div class="row mb-2">
            <div class="offset-md-2 col-md-8 ">
                <label>First Name</label>
                <input type="text" class=" form-control" required formControlName="firstName" id="name" placeholder="Enter first  name">
                <span class="error" *ngIf="!signupform?.get('firstName')?.valid && signupform?.get('firstName')?.touched">enter the firstname</span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="offset-md-2 col-md-8">
                <label>Last Name</label>
                <input type="text" class=" form-control" required formControlName="lastName" id="name" placeholder="Enter last  name">
                <span class="error" aria-autocomplete="none" *ngIf="!signupform?.get('lastName')?.valid && signupform?.get('lastName')?.touched">enter the Last Name</span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="offset-md-2 col-md-8">
                <label>Email</label>
                <input type="email" class=" form-control" formControlName="email" required id="name" placeholder="Enter the email">
                <span class="error" *ngIf="!signupform?.get('email')?.valid && signupform?.get('email')?.touched">enter the email</span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="offset-md-2 col-md-8">
                <label>Password</label>
                <input type="password" class=" form-control mb-2" formControlName="password" required id="name" placeholder="Enter the password">
                <span class="error" *ngIf="!signupform?.get('password')?.valid && signupform?.get('password')?.touched">enter the proper password</span>
            </div>
        </div>
            <div class="row">
            <div class=" offset-md-2 col-md-8">
                <button class="btn register-btn" type="submit">Register</button>
            </div>
        </div>            
    </form>
    </div>
    <div class="footer-section">
<h6><a routerLink="/Login">Login</a></h6>
    </div>
</div>
</div>