.signup-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup{
    width:40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 10px lightgrey;


}
.image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-section h4{
    position: relative;
    right: 10px;
    color: #008080;
}
.header-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid black;
}
.form-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-btn{
    width: 100%;
    margin-top: 20px;
    height: 45px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #008080;
    border-radius: 3px;

}
.form-design{
    width: 100%;
}
.form-control{
    width: 100%;
    border-radius: 3px;
}
.footer-section{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.footer-section h6{
    color: rgb(96, 96, 240);
 
}
.error{
    color:red;
}